html, body, .appContainer {
  height: 100%;
  width: 100%;

  font-family: 'Lexend', sans-serif;
  margin: 0;
} 




.appContainer{
  display: grid;
  grid-template-rows: 10% 1fr 8%;
  grid-template-columns: 13% 1fr;
  background-color: aliceblue;
}

.header{
  grid-column: 1 / 3;
  background-color: #A78BFA;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;

}

.sidebar{
  grid-row: 2/3;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #EDE9FE;
  color: #1F2937;

}

.sidebarWrapper{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.AddProject{
  border-radius: 50%;
  font-size: 100%;
  background-color: #A78BFA;
  color: white;
  text-align: center;
}

.Project{
    background-color: #A78BFA;
  color: #1F2937;
  
}

.appTitle{
  margin-left: 1%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1F2937;
}

.footer{
 
  grid-column: 1/3;
  background-color: #A78BFA;
  color: white;
  text-align: center;
  padding: 1rem;
}

.header{
  font-size: 32px;
}

.main-content{
  display: flex;
  background-color: #F5F7FA;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* .Project{
  background-color: red;
  width: 50%;
  text-align: center;
} */

.mainWrapper{
  height: 80%;
  width: 80%;
  display: grid;
  overflow: auto;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: #7D5BA6;
  font-size: 20px;
  text-align: center;

}

.modal1{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalCon{
  height: 50%;
  width: 20%;
  background-color: #DDDDDD;
  border-radius: 6%;
  display: grid;
  grid-template-rows: 10% 90%;
}

.closeCon{
  display: flex;
  justify-content: end;
  align-items: center;
}


button{
  border-radius: 50%;
  color: white  ;
  background-color: #A78BFA;
}

.ProjectTitleForAdding{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttonTodo{}